html {
	height: 100%;
}
body {
	font-family: sans-serif;
	margin: 0% 5%;
	width: 90%;
	min-height: 100%;

	position: relative;
}
nav {
	padding-top: 20px;
	margin-bottom: 20px;
}
nav form{
	display: inline;
	float: right;
	margin-top: 10px;
}

nav h1 {
	font-family: 'times new roman', times, serif;
	font-size: 31px;
	font-weight: 500;
	text-transform: lowercase;
	display: inline;
}
#about {
	font-style: italic;
	text-align: right;
	bottom: 0px;
	right: 0px;
	position: absolute;
	font-size: 12px;
}
#about a{
	//color: inherit;
}
h1, a {
	color: #a50430;
}
