html {
	height: 100%;
}
body {
	font-family: sans-serif;
	margin: 0% 10%;
	width: 80%;
	min-width: 640px;
	min-height: 100%;

	position: relative;
}

#title {
	font-family: 'times new roman', times, serif;
	font-size: 31px;
	font-weight: 500;
	position: absolute;
	left: 0px;
	top: 0px;
	margin-top: 10px;
	text-transform: lowercase;
}

#account-area{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
}

#account-area ul{
	margin: 0px;
}
#account-area li{
	display: inline;
	margin: 0px 10px;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#content {
	position: absolute;
	top: 80px;
}


#about {
	font-style: italic;
	text-align: right;
	bottom: 0px;
	right: 0px;
	position: absolute;
	font-size: 12px;
}

h1, a, li{
	color: #a50430;
}


/*Add post stuff*/
#add-post-instructions {
	float: right;

}

#add-post {
	display: block;
}
